#playerInfoBox{
    padding-top: 60px;
}

#imageDialogBox{
    background: #d9b98f;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid var(--colorPrimaryDark);
    position: fixed;
    z-index: 999;
    display: none;
    padding-bottom: 20px;
}

.imageDialogButton{
    background-color: var(--woodenButtonBackground);
    padding: 2px 10px;
    margin-top: 10px;
    font-family: fondamento_Regular, serif;
    font-size: 16pt;
    color: var(--buttontext);
    border: 1px solid black;
    border-radius: 5px;
}


#rankingFrame{
    display: none;
}
#rankingListContainer{
    display: none;
}


/*TABLET*/
@media screen and (min-width:600px) {

    #goToRankingButton{
        display: none;
    }

    #rankingListContainer{
        display: inline-block;
    }

}

