
html{
    height: 100% !important;
}
body{
    height: 100% !important;
}


.mapboxgl-ctrl-bottom-right {
    display: none;
}
.mapboxgl-ctrl-top-right {
    height: 100%;
    top: 92%;
    right: 10px;
    bottom: 0 !important;
}
.mapboxgl-ctrl{
    bottom: 0 !important;
}




#mapObjectInteractionDiv{
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
#mapObjectImageBox{
    padding-top: 80px;
}

.woodenButtonDisabled{
    background-color: var(--woodenButtonBackgroundFocus);
    color: var(--textlight);
    pointer-events: none;
}
#mapObjectName{
    margin-bottom: 0;
}
#mapObjectDim{
    font-style: italic;
}

#mapObjectBottomBox{
    width: 100%;
    position: absolute;
    bottom: 40px;
}




#mapObjectInteractionResultDiv{
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
#InteractionResultLabel{
    margin-top: 0;
    padding-top: 160px;
}
#mapObjectInteractionResultBottomBox{
    width: 100%;
    position: absolute;
    bottom: 40px;
}