.mapboxgl-ctrl-bottom-right {
    display: none;
}
.mapboxgl-ctrl-top-right {
    height: 100%;
    top: 92%;
    right: 10px;
    bottom: 0 !important;
}
.mapboxgl-ctrl{
    bottom: 0 !important;
}




#mapObjectInteractionDiv{
    padding-top: 80px;
}

.woodenButtonDisabled{
    background-color: var(--woodenButtonBackgroundFocus);
    color: var(--textlight);
    pointer-events: none;
}




#mapObjectInteractionResultDiv{
    padding-top: 80px;
}
#InteractionResultLabel{
    margin-top: 0;
    padding-top: 80px;
}

#InteractionResultButton{
    margin-top: 400px;
}