#rankingListContainer{
    width: 100%;
}
.rankingListItem{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.rankingLIstItem_position{
    padding: 0 20px;
    float: left;
}
.rankingListItem_image {
    float: left;
    margin-right: 20px;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}/*
.rankingListItem_image img{
    height: 80px;
    width: 80px;
}*/
.rankingListItem_playerInfo{
    text-align: left;
}
.rankingListItem_playerInfo h1{
    margin: 0;
}
.rankingListItem_playerInfo p{
    font-style: italic;
}